.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0e0b1a;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
}

.form2-container {
  flex: 1;
  padding: 20px;
  background-color: #262545;
  height: 450px;
  max-width: 400px; /* Decrease the width as desired */
  margin: 0 auto; /* Center the form container horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements vertically */
  border-radius: 7%;
}

input {
  padding: 5px;
  text-align: center;
  width: 50%;
  border-radius: 10%;
  margin-top: 5px;
  border-radius: 7%;
}

h2 {
  margin-top: 0;
  color: #504f63;
  text-align: center;
  padding-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 0 auto;
}

label {
  color: #7a788e;
  font-weight: bold;
}

button {
  align-self: center;
  padding: 10px 20px;
  background-color: #3d424a;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5%;
  margin-top: 20px;
}

.signupp {
  color: #7a788e;
  align-self: center;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .form2-container {
    height: 500px;
  }

  input {
    width: 80%;
  }

  h2 {
    padding-bottom: 20px;
  }
}
